

@import './assets/remixicon/remixicon.css';
@import './assets/css/style.css';
@import './assets/boxicons/css/boxicons.min.css';
@import './assets/css/glightbox.min.css';
@import './assets/css/swiper-bundle.min.css';
@import './assets/css/aos.css';
@import './assets/css/bootstrap-icons.css';
@import './assets/bootstrap/css/bootstrap.css';

.serviceCol{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background: #252525;
    transition: 0.3s;
}
