

@import './assets/css/style.css';
@import './assets/css/swiper-bundle.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~boxicons//css/boxicons.min.css";

.serviceCol{
    margin-bottom: 20px;
    padding: 30px;
    border-radius: 6px;
    background: #252525;
    transition: 0.3s;
}
